body {
    font-family: Arial, sans-serif;
    width: 220px;
    padding: 10px;
}

h2 {
    font-size: 16px;
}

label {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Style for emoji tooltips */
.emoji-tooltip {
    font-size: 1.2em;
    margin-left: 5px;
}
